@import 'src/theme/jzet.functions.color';

$primary: #5c33ff !default;
$secondary: #b2ff66 !default;
$tertiary: #371e99 !default;
$success: #a3f1d9 !default;
$warning: #f8c59d !default;
$danger: #f1a3a3 !default;
$notification: #fd595a !default;
$light: #efeeee !default;
$dark: #262b30 !default;
$light-disabled: #f5f5f5 !default;
$dark-disabled: #1f2227 !default;

$on-primary: #d6ccff;
$on-secondary: #1b1d1e;
$on-tertiary: #d6ccff;
$on-success: #0e8560;
$on-warning: #98541e;
$on-danger: #850e0e;
$on-notification: #fafeff;
$on-light: #a6a8ad;
$on-dark: #848b8f;
$on-light-disabled: #a6a8ad;
$on-dark-disabled: #848b8f;

$on-dark-surface: #82868a;
$on-light-surface: #82868a;

$palette: (
  primary: (
    base: $primary,
    contrast: $on-primary,
    shade: get-color-shade($primary),
    tint: get-color-tint($primary),
  ),
  secondary: (
    base: $secondary,
    contrast: $on-secondary,
    shade: get-color-shade($secondary),
    tint: get-color-tint($secondary),
  ),
  tertiary: (
    base: $tertiary,
    contrast: $on-tertiary,
    shade: get-color-shade($tertiary),
    tint: get-color-tint($tertiary),
  ),
  success: (
    base: $success,
    contrast: $on-success,
    shade: get-color-shade($success),
    tint: get-color-tint($success),
  ),
  warning: (
    base: $warning,
    contrast: $on-warning,
    shade: get-color-shade($warning),
    tint: get-color-tint($warning),
  ),
  danger: (
    base: $danger,
    contrast: $on-danger,
    shade: get-color-shade($danger),
    tint: get-color-tint($danger),
  ),
  notification: (
    base: $notification,
    contrast: $on-notification,
    shade: get-color-shade($notification),
    tint: get-color-tint($notification),
  ),
  light: (
    base: $light,
    contrast: $on-light,
    shade: get-color-shade($light),
    tint: get-color-tint($light),
  ),
  dark: (
    base: $dark,
    contrast: $on-dark,
    shade: get-color-shade($dark),
    tint: get-color-tint($dark),
  ),
);
