:host {
  display: inline-block;

  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;

  white-space: nowrap;

  user-select: none;
  font-kerning: none;
}

.button {
  background-color: var(--background-color);
  color: var(--color);
  border: solid;
  border-width: var(--border-width, 0rem);
  // padding: 0.625rem 1.125rem;
  padding: calc(0.625rem - var(--border-width, 0rem)) calc(1.125rem - var(--border-width, 0rem));
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  border-color: var(--border-color);
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

.button-disabled {
  background-color: $disabled !important;
  color: $on-disabled !important;
  cursor: default;
}

:host(.button-solid) {
  --background-color: var(--jz-color-base);
  --color: var(--jz-color-contrast);
  --border-color: var(--jz-color-base);
}

:host(.button-outline) {
  --border-width: 0.125rem;
  --border-color: var(--jz-color-base);
  --background-color: transparent;
  --color: var(--jz-color-base);
}

:host(.button-minimal) {
  --border-width: 0rem;
  --background-color: transparent;
  --color: var(--jz-color-base);
}
