:host {
  display: block;
}

* {
  box-sizing: border-box;
}

:host(.dark-mode) {
  --border-color: #{get-color-rgba($light, 0.1)};
  --color: #{$on-dark};
}

:host(.light-mode) {
  --border-color: #{get-color-rgba($dark, 0.1)};
  --color: #{$on-light};
}

:host(.checkbox-disabled) .checkbox {
  cursor: default;
  --border-color: #{$light-disabled};
}

:host(.checkbox-disabled) .checkbox input:checked + .checkmark {
  --background: #{$light-disabled};
  --border-color: #{$light-disabled};
}

:host(.checkbox-disabled) .checkbox-label {
  cursor: default;
  pointer-events: none;
  --color: #{$on-light-disabled};
}

.checkbox-wrapper {
  display: flex;
}

.checkbox {
  cursor: pointer;
}

.checkbox .checkmark {
  --background: tansparent;
  width: 1.375rem;
  height: 1.375rem;
  border: solid;
  border-width: 1px;
  border-color: var(--border-color);
  border-radius: 4px;
  display: inline-block;
  background: var(--background);
  transition: all 0.3s ease;
}

.checkbox input:checked + .checkmark {
  --background: var(--jz-color-base);
  --border-color: var(--jz-color-base);
}

.checkbox input {
  display: none;
}

.check {
  --border-width: 2px;
  --height: 12px;
  --width: 6px;
  width: var(--width);
  height: var(--height);
  border-bottom: var(--border-width) solid var(--jz-color-contrast);
  border-right: var(--border-width) solid var(--jz-color-contrast);
  display: inline-block;
  transform: rotate(45deg);
  margin: -1px 7px;
  opacity: 0;
  transition: all 0.3s ease;
}

.checkbox input:checked + .checkmark .check {
  opacity: 1;
}

.checkbox-label {
  padding: 0 1rem 0 0;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  user-select: none;
  cursor: pointer;
  color: var(--color);
}
