:host {
  display: block;
}

:host(.dark-mode) {
  --border-color: #{get-color-rgba($light, 0.1)};
  --background-color: #{$dark};
  --color: #{$on-dark};

  ::placeholder {
    color: get-color-rgba($light, 0.5);
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: get-color-rgba($light, 0.5);
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: redget-color-rgba($light, 0.5);
  }
}

:host(.dark-mode) ::slotted(*) {
  color: #{$on-dark};
}

:host(.light-mode) {
  --border-color: #{get-color-rgba($dark, 0.1)};
  --background-color: #{$light};
  --color: #{$on-light};

  ::placeholder {
    color: get-color-rgba($dark, 0.4);
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: get-color-rgba($dark, 0.4);
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: redget-color-rgba($dark, 0.4);
  }
}

:host(.light-mode) ::slotted(*) {
  color: #{$on-light};
}

:host(.select-disabled) {
  --background-color: #{$light-disabled};
  --border-color: #{$light-disabled};
  --color: #{$on-light-disabled};
  input {
    &:hover {
      --border-width: 1px;
      --border-color: #{$light-disabled};
      --color: #{$on-light-disabled};
    }
    &:active {
      --border-width: 1px;
      --border-color: #{$light-disabled};
      --color: #{$on-light-disabled};
    }
    &:focus {
      --border-width: 1px;
      --border-color: #{$light-disabled};
      --color: #{$on-light-disabled};
    }
  }
  .icon {
    cursor: default;
  }
}

:host([block]) input,
.select-container {
  width: 100%;
}

.select-container {
  display: flex;
  align-items: center;
  position: relative;
  outline: none;
}

.select {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--background-color, transparent);
  border: solid;
  border-radius: 0.5rem;
  --border-width: 1px;
  border-width: var(--border-width);
  outline: none;
  padding: calc(0.625rem - var(--border-width, 0rem)) calc(0.625rem - var(--border-width, 0rem));
  border-color: var(--border-color);
  color: var(--color);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    --border-width: 1px;
    --border-color: var(--jz-color-base);
  }
  &:active {
    --border-width: 1px;
    --border-color: var(--jz-color-base);
  }
  &:focus {
    --border-width: 1px;
    --border-color: var(--jz-color-base);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.icon-button {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0.5rem;
}

.icon {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon-arrow--expanded {
  transform: rotate(90deg);
}

.icon-arrow--collapsed {
  transform: rotate(-90deg);
}
