:host {
  width: 100%;
  height: 2.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--jz-color-base);
  color: var(--jz-color-contrast);
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
}

::slotted(*) {
  max-width: 18.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-button {
  width: 1.313rem;
  height: 1.313rem;
  margin: 0 0 0 1.25rem;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(45deg);
  display: block;
}

.close-button span {
  width: 1.313rem;
  height: 1px;
  background: var(--jz-color-contrast);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:nth-child(2) {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
